<!DOCTYPE html> 
<html> 
 <head> 
  <title>{{ page:title }}</title>
  <!-- link to main stylesheet --> 
  <link rel="stylesheet" type="text/css" href="/css/main.css"> 
 </head> 
 <body> 
  <nav> 
      <ul> 
          <li><a href="/">Home</a></li> 
          <li><a href="/blog">Blog</a></li>
          <li><a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Surprise</a></li> 

   </ul> 
  </nav> 
  <div class="container"> 
   
      {{ content }}
   
  </div>
  <footer> 
        <ul> 
               <li><a href="https://github.com/shaunds/">github.com/shaunds</a></li> 
               <li><a href="https://shaunds.github.io"> shaunds.github.io </a></li> 
  </ul> 
  </footer> 
 </body> 
</html>
